@import "tailwindcss";
@import "tw-animate-css";
@import "./variables.css";
@import "./fonts.css";
@import "./utils.css";

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
   /* Fonts */
    --font-manrope: var(--font-manrope);
    --font-roboto: var(--font-roboto);
    
   /* sizes */
      --radius-sm: calc(var(--radius) - 4px);
      --radius-md: calc(var(--radius) - 2px);
      --radius-lg: var(--radius);
      --radius-xl: calc(var(--radius) + 4px);

   /* colors */
      --color-background: var(--background);
      --color-foreground: var(--foreground);

   /* Primary */
      --color-primary-100: var(--primary-100);
      --color-primary-200: var(--primary-200);
      --color-primary-300: var(--primary-300);
      --color-primary-400: var(--primary-400);
      --color-primary-500: var(--primary-500);
      --color-primary-600: var(--primary-600);
      --color-primary-700: var(--primary-700);
      --color-primary-800: var(--primary-800);
      --color-primary-900: var(--primary-900);
      --color-primary: var(--primary-900);

   /* Secondary */
      --color-secondary-100: var(--secondary-100);
      --color-secondary-200: var(--secondary-200);
      --color-secondary-300: var(--secondary-300);
      --color-secondary-400: var(--secondary-400);
      --color-secondary-500: var(--secondary-500);
      --color-secondary-600: var(--secondary-600);
      --color-secondary-700: var(--secondary-700);
      --color-secondary-800: var(--secondary-800);
      --color-secondary-900: var(--secondary-900);
      --color-secondary: var(--secondary-900);

   /* Accent */
      --color-accent: var(--accent);

   /* Gray */
      --color-gray-100: var(--gray-100);
      --color-gray-200: var(--gray-200);
      --color-gray-300: var(--gray-300);
      --color-gray-400: var(--gray-400);
      --color-gray-500: var(--gray-500);
      --color-gray-600: var(--gray-600);
      --color-gray-700: var(--gray-700);
      --color-gray-800: var(--gray-800);
      --color-gray-900: var(--gray-900);

   /* Success */
      --color-success-100: var(--success-100);
      --color-success-200: var(--success-200);
      --color-success-300: var(--success-300);
      --color-success-400: var(--success-400);
      --color-success-500: var(--success-500);
      --color-success-600: var(--success-600);
      --color-success-700: var(--success-700);
      --color-success-800: var(--success-800);
      --color-success-900: var(--success-900);
      --color-success: var(--success-500);

   /* Warning */
      --color-warning-100: var(--warning-100);
      --color-warning-200: var(--warning-200);
      --color-warning-300: var(--warning-300);
      --color-warning-400: var(--warning-400);
      --color-warning-500: var(--warning-500);
      --color-warning-600: var(--warning-600);
      --color-warning-700: var(--warning-700);
      --color-warning-800: var(--warning-800);
      --color-warning-900: var(--warning-900);
      --color-warning: var(--warning-500);

   /* Error */
      --color-error-100: var(--error-100);
      --color-error-200: var(--error-200);
      --color-error-300: var(--error-300);
      --color-error-400: var(--error-400);
      --color-error-500: var(--error-500);
      --color-error-600: var(--error-600);
      --color-error-700: var(--error-700);
      --color-error-800: var(--error-800);
      --color-error-900: var(--error-900);
      --color-error: var(--error-500);

   /* Info */
      --color-info-100: var(--info-100);
      --color-info-200: var(--info-200);
      --color-info-300: var(--info-300);
      --color-info-400: var(--info-400);
      --color-info-500: var(--info-500);
      --color-info-600: var(--info-600);
      --color-info-700: var(--info-700);
      --color-info-800: var(--info-800);
      --color-info-900: var(--info-900);
      --color-info: var(--info-500);
}

@layer base {
   * {
      @apply box-content m-0 p-0 scroll-smooth;
   }

   html,
   body {
      @apply min-h-screen w-full overflow-x-hidden transition-colors duration-500 bg-(image:--page-gradient) bg-fixed relative font-roboto custom-scroll;

      @media (prefers-color-scheme: dark) {
         color-scheme: dark;
      }
   }

   body::after {
      content: "";
      position: fixed;
      inset: 0;
      z-index: 5;
      pointer-events: none;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 400 400'><filter id='n'><feTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='3' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23n)' fill='rgba(0,0,0,0.3)'/></svg>");
      background-repeat: repeat;
      background-size: 300px 300px;
      opacity: var(--noise-opacity);
      mix-blend-mode: var(--noise-blend);
  }

   button {
      @apply cursor-pointer;
   }
}
