@reference "tailwindcss";

@utility flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Container */
@utility container-lg {
   width: 100%;
   margin-inline: auto;
   padding-inline: 2rem;

   /* 2xl -> max-width 1440px */
   @variant 2xl {
      max-width: 96rem;
   }
}

@utility container-xl {
   width: 100%;
   margin-inline: auto;
   padding-inline: 2rem;

   @variant 2xl {
      max-width: 120rem;
   }
}