@reference "tailwindcss";

@utility flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Container */
@utility container-lg {
   width: 100%;
   margin-inline: auto;
   padding-inline: 2rem;

   /* 2xl -> max-width 1440px */
   @variant 2xl {
      max-width: 96rem;
   }
}

@utility container-xl {
   width: 100%;
   margin-inline: auto;
   padding-inline: 2rem;

   @variant 2xl {
      max-width: 120rem;
   }
}

/* scroll */
@utility scrollbar-hide {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

/* @utility custom-scroll::-webkit-scrollbar {
   width: 2px;
}

@utility custom-scroll::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 0;
   border: none;
   box-shadow: none;
}

@utility custom-scroll::-webkit-scrollbar-thumb {
   background-color: #50515E;
   border: none;
   box-shadow: none;
   border-radius: 0px;
} */

@utility custom-scroll {
   scrollbar-width: thin;
   scrollbar-color: #50515E transparent;
}